body {
    font-family: Arial, Helvetica, sans-serif;
    color: #777;
    background-color: #777;
    font-size: 18px;
}

#container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr 2fr 1fr;
    background-color: #777;
    grid-gap: 10px;
    margin: 10px 50px;
}

/* this is for the flexbox with centered text inside each cell */
.cell-content {
    display: flex;
    flex-direction: row;
    height: 100%;
    background-color: #ebebeb;
    color: #777;    
    align-items: center;
    justify-content: center;
}

#header {
    grid-column: 1 / span 2;
    grid-row: 1 / span 1;
    background-color: #ebebeb;
    text-align: center;
}

#nav {
   grid-column: 1 / span 2;
   grid-row: 2 / span 1;
   background-color: #ebebeb;
   text-align: center;
}

/* Instead of the flex container, I added some padding at the top here to bring down the text a little bit */
#section {
    grid-column: 1 / span 1;
    grid-row: 3 / span 2;
    background-color: #ebebeb;
    text-align: center;
    padding-top: 15px;
}

#aside {
    grid-column: 2 / span 1;
    grid-row: 3 / span 2;
    background-color: #ebebeb;
    text-align: center;
}

/* why is my footer height so different from header and nav? */
#footer {
    grid-column: 1 / span 2;
    grid-row: 5 / span 1;
    background-color: #ebebeb;
    text-align: center;
    /* height: 100px; */
}

#section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1 fr;
    grid-gap: 2px;
    margin: 50px 10px 5px 5px;
    background-color: #777;
    color: #ebebeb;
    text-align: center;
}
#article {
    grid-column: 1 / span 3;
    background-color: #777;
    color: #ebebeb;
    height: 30px;
    margin: 20px;
}

#htags {
    grid-column: 1 / span 3;
    background-color: #ebebeb;
    height: 50px;
    margin: 20px 20px 0px 20px;
    color: #777;
}

#ptag {
    grid-column: 1 / span 3;
    background-color: #ebebeb;
    height: 50px;
    margin: 10px 20px 20px 20px;
    color: #777;
}